.vscode

**/prj/iverilog/*.vvp
**/prj/iverilog/*.vcd

**/prj/modelsim*/work
**/prj/modelsim*/*.vcd
**/prj/modelsim*/*.wlf
**/prj/modelsim*/*.vstf
**/prj/modelsim*/transcript

**/prj/python/out
**/prj/python/signal

**/prj/uvm-1.1d
